@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
:root{
  --green:#00E77F;
  --white:#fff;
  --black:#3d3d3d;
  --light-white:#aaa;
  --light-bg:#4b4b4b;
}
*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transform: .2s linear;
    text-transform: capitalize;
}
*::selection{
  background-color: #00E77F;
  color: #4b4b4b;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #00E77F;
  border-radius: 5rem;
}

body{
  background-color: #3d3d3d;
}

section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px ;
}









/* header custom file */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #4b4b4b;
}

.header .flex{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo{
  font-size: 2.5rem;
  color: #fff;
}

.header .flex .navbar a{
  margin: 10px;
  color: #aaa;
  font-size: 2rem;
}

.header .flex .navbar a:hover{
  color: #00E77F;
}

#menu{
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  display: none;
}
/* header custom file */












/* home custom file*/
.home{
  margin-top: 60px;
}

.home .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 15px;
}

.home .row .content{
  flex: 1 1 40rem;
  align-items: center;
  text-align: center;
}

.home .row .imgage{
  flex: 1 1 40rem;
}

.home .row .imgage img{
  width: 100%;
}

.home .row .content h3{
  font-size: 10rem;
  margin-bottom: 10px;
  color: #fff;
  line-height: 1;
}

.home .row .content span{
  color: #00E77F;
  display: block;
}

.btn{
  display: inline-block;
  margin-top: 10px;
  border-radius: 50px;
  font-size: 18px;
  background-color: #4b4b4b;
  color: #fff;
  padding: 10px 30px;

}

.btn:hover{
  color: #3d3d3d;
  background-color: #fff;
}

.cout .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 15px;
  align-items: flex-start;
}

.cout .box-container .box{
  background-color: #4b4b4b;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.cout .box-container .box i{
  font-size: 50px;
  color: #00E77F;
}

.cout .box-container .box h3{
  font-size: 25px;
  color: #fff;
}

.cout .box-container .box p{
  color: #aaa;
  font-size: 15px;
}
/* home custom file*/










/* about custom file */
.about{
  padding-top: 60px;
}

.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.about .row .imgage{
  flex:1 1 40rem;
}
 
.about .row .imgage img{
  width: 110%;
}

.about .row .content{
  flex:1 1 40rem;
  text-align: center;
}

.about .row .content h3{
  color: #fff;
  font-size: 35px;
  padding-bottom: 10px;
}

.about .row .content p{
  color: #aaa;
  font-size: 13px;
  line-height: 18px;
}
/* about custom file */











/* courses custom */
.heading{
  margin-bottom: 25px;
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin-top: 40px;
}

.heading span{
  color: #00E77F;
}

.courses .swiper-slide{
  background-color: #4b4b4b;
  text-align: center;
  border-radius: 3rem;
  margin-bottom: 40px;
}

.courses .swiper-slide img{
  width: 100%;
  height: 45rem;
}

.courses .swiper-slide h3{
  font-size: 20px;
  color: #fff;
  margin: 15px 0;
}

.courses .swiper-slide p{
  font-size: 12px;
  color: #aaa;
  line-height: 2;
  padding-bottom: 10px;
}

.swiper-pagination-bullet{
  background-color: #fff;
}
.swiper-pagination-bullet-active{
  background-color: #00E77F;
}

/* courses custom */











/* teachers custom */
.teacher .heading{
  margin-top: 50px;
  margin-bottom: 50px;
}

.teacher .swiper-slide{
  position: relative;
  border-radius: 3rem;
  margin-bottom: 40px;
  overflow: hidden;
}

.teacher .swiper-slide img{
  width: 100%;
  height: 50rem;
  object-fit: cover;
  border-radius: 3rem;
}

.teacher .swiper-slide h3{
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}
 
.teacher .swiper-slide .share{
  position: absolute;
  top: 10px;
  left: -50px;
}

.teacher .swiper-slide .share a{
  display: block;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: .9rem;
  margin-top: 10px;
  color: #3d3d3d;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
}

.teacher .swiper-slide .share a:hover{
  color: #00E77F;
}

.teacher .swiper-slide:hover .share{
  left: 20px;
}
/* teachers custom */










/* review custom */
.reviews .swiper-slide{
  width: 50rem;
  border-radius: 1rem;
  margin-bottom: 40px;
  background-color: #4b4b4b;
  padding: 20px;
}

.reviews .swiper-slide p{
  line-height: 2;
  font-size: 16px;
  color: #aaa;
  text-align: center;
}

.reviews .swiper-slide .user{
  display: flex;
  align-items: center;
  gap: 20px;
}

.reviews .swiper-slide .user img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 15px;
}

.reviews .swiper-slide .user h3{
  font-size: 16px;
  color: #fff;
}

.reviews .swiper-slide .star{
  color: #00E77F;
  font-size: 15px;
  
}
/* review custom */






/* contact custom */
.contact .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.contact .row .imgage{
  flex: 1 1 40rem;
}

.contact .row form{
  flex: 1 1 40rem;
}

.contact .row .imgage img{
  width: 100%;
}

.contact .row form .box{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 1rem;
  background-color: #4b4b4b;
  font-size: 18px;
  color: #aaa;
  padding: 13px;
}

.contact .row form span{
  font-size: 15px;
  color: #aaa;
}

.contact .row form .radio{
  margin-top: 15px;
  font-size: 15px;
  margin-bottom: 10px;
  color: #aaa;
}

.contact .row form .radio label{
  margin-left: 5px;
  font-size: 16px;
  color: #aaa;
}

/* contact custom */








/* footer */
.footer{
  background-color: #4b4b4b;
}
.footer .share a{
  background-color: #3d3d3d;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 20px;
  text-align: center;
  padding-top: 12px;
  color: #aaa;
}

.footer .share{
  text-align: center;
}

.footer .share a:hover{
  color: #00E77F;
}

.footer .credit{
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  padding-bottom: 15px;
  border-top: 1px solid #aaa;
}














/* media starts */
@media  (max-width:1165px){
  .cout .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 15px;
    align-items: flex-start;
}
}


@media  (max-width:991px){
  html{
    font-size: 55%;
  }
  .home .row .content h3{
    font-size: 80px;
  }
}



@media  (max-width:768px){
  #menu{
    display: inline-block;
  }

  .header .flex .navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: .1rem solid #aaa;
    border-bottom: .1rem solid #aaa;
    background-color: #4b4b4b;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  .header .flex .navbar a{
    display: block;
    margin: 20px;
    
  }
  
  .header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .home .row .content h3{
    font-size: 60px;
  }
}



@media  (max-width:450px){
  html{
    font-size: 50%;
  }
}


@media  (max-width:660px){

}
  



@media  (max-width:410px){
  html{
    font-size: 40%;
  }
}



@media  (max-width:280px){
  html{
    font-size: 35%;
  }
}

